@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-light: #f0f2f5;
  --background-color-dark: #111b22;
}

.interactive-fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.25rem;
}


body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--background-color-light);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Onest Variable', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
